[submodule "vendor/coffee-script"]
	path = vendor/coffee-script
	url = https://github.com/defunkt/coffee-mode.git
[submodule "vendor/emacs_color_theme_solarized"]
	path = vendor/emacs_color_theme_solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "js2-mode"]
	path = js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "actionscript-mode"]
	path = actionscript-mode
	url = https://github.com/austinhaas/actionscript-mode.git
